@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RabbitMQ SignalR Example</title>
</head>
<body>
    <div id="messages"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    @{
        // Retrieve the dynamically generated SignalR hub URL from ViewData
        string signalRHubUrl = TempData["SignalRHubUrl"]?.ToString();
        TempData.Keep("SignalRHubUrl");
        var s = signalRHubUrl;
    }

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("@signalRHubUrl").build();
       // console.log(@signalRHubUrl);
        connection.on("ReceiveMessage", function (message, json, userid, connectionId) {
            console.log(connectionId);
            console.log("Company IDS : " + json);
            var obj = JSON.parse(message);
         //   if (json.includes(obj.CompanyID)) {
                $("#messages").append("<p>" + message + "</p>");
         //   }
            console.log("USer ID : "+userid);
            // Handle the incoming message and update your HTML

        });
        const username = 1;
        connection.start().then(function () {
            var connectionId = connection.connectionId;
            console.log("Connection ID: " + connectionId);
            console.log("Connected to SignalR Hub");

        }).catch(function (err) {
            console.error(err.toString());
        });
    </script>
</body>
</html>

